.container {
	width: 1240px;
	margin-bottom: 100px;
	h2 {
		font-weight: 600;
		font-size: 50px;
		line-height: 61px;
		text-transform: uppercase;
		margin-bottom: 15px;

		color: #353535;
	}
	@media (max-width: 1420px) {
		width: 1000px;
		margin-bottom: 100px;
		padding: 0 30px;
		h2 {
			font-size: 50px;
			line-height: 63px;
		}
		.subLabel {
			font-size: 20px;
			line-height: 24px;
		}
		.grid {
			grid-template-columns: 1fr 1fr;
			row-gap: 22px;
		}
		.card {
			column-gap: 16px;
			h3 {
				font-size: 20px;
			}
			.photo {
				width: 200px;
			}

			.position {
				width: 260px;
				font-size: 18px;
				line-height: 25px;
				margin-bottom: 10px;
				padding-left: 17px;
			}

			.responsibleFor {
				width: fit-content;
				padding: 11px 13px;
				border-radius: 10px;
				font-size: 15px;
				font-weight: 500;
			}
		}
		.flag {
			position: absolute;
			top: 9px;
			left: 161px;
			width: 30px;
		}
	}
	@media (max-width: 1000px) {
		width: 660px;
		margin-bottom: 100px;
		padding: 0 30px;
		h2 {
			width: 100%;
			font-size: 33px;
			line-height: 43px;
		}
		.subLabel {
			font-size: 18px;
			margin-bottom: 10px;
		}
		.subLabel2 {
			font-size: 18px;
			margin-bottom: 50px;
		}
		.grid {
			grid-template-columns: 1fr 1fr;
			row-gap: 22px;
		}
		.card {
			column-gap: 10px;
			h3 {
				font-size: 18px;
			}
			.photo {
				width: 130px;
			}

			.position {
				width: 150px;
				font-size: 14px;
				line-height: 20px;
				margin-bottom: 10px;
				padding-left: 10px;
				&::after {
					width: 4px;
				}
			}
		}
		.flag {
			position: absolute;
			top: 5px;
			left: 105px;
			width: 20px;
		}
	}

	@media (max-width: 660px) {
		width: 375px;
		margin-bottom: 20px;
		padding: 0 10px;
		h2 {
			font-size: 22px;
			line-height: 28px;
			margin-bottom: 6px;
		}
		.subLabel {
			font-size: 13px;
			line-height: 15px;
			margin-bottom: 10px;
			width: 100%;
		}
		.subLabel2 {
			font-size: 13px;
			line-height: 15px;
			margin-bottom: 20px;
		}
		.grid {
			grid-template-columns: 1fr 1fr;
			row-gap: 22px;
			column-gap: 15px;
		}
		.card {
			flex-direction: column;
			row-gap: 10px;
			h3 {
				font-size: 18px;
			}
			.photo {
				width: 100%;
			}

			.position {
				width: 100%;
				font-size: 14px;
				line-height: 20px;
				margin-bottom: 10px;
				padding-left: 10px;
				&::after {
					width: 4px;
				}
			}
		}
		.flag {
			position: absolute;
			top: 7px;
			left: 135px;
			width: 25px;
		}
	}
}
.subLabel {
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 15px;

	font-weight: 700;
	color: #353535;
}
.subLabel2 {
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 40px;

	font-weight: 500;
	color: #353535;
}
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 42px;
}
.card {
	display: flex;
	flex-direction: row;
	column-gap: 36px;
	align-items: center;
	color: #353535;
	position: relative;
	h3 {
		font-weight: 600;
		font-size: 25px;
	}

	.position {
		width: 260px;
		font-size: 20px;
		font-weight: 400;
		line-height: 25px;
		margin-bottom: 10px;
		padding-left: 17px;

		position: relative;
		&::after {
			content: '';
			width: 8px;
			border-radius: 4px;
			background-color: #febd6d;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}
	}

	.responsibleFor {
		width: fit-content;
		padding: 11px 13px;
		border-radius: 10px;
		font-size: 15px;
		font-weight: 500;
	}
}
.flag {
	position: absolute;
	top: 9px;
	left: 231px;
}
