.container {
	width: 1247px;
	margin-bottom: 100px;

	h2 {
		font-weight: 600;
		font-size: 50px;
		color: #353535;
		line-height: 61px;
		margin-bottom: 16px;
	}
	.header {
		font-weight: 500;
		font-size: 20px;
		color: #353535;
		line-height: 24px;
		margin-bottom: 47px;
	}
	.sellerChinaLink {
		font-weight: 700;
		color: #febd6d;
		border-bottom: 1px solid #febd6d;
	}
	@media (max-width: 1420px) {
		width: 1000px;
		padding: 0 30px;

		.grid {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			column-gap: 50px;
			row-gap: 25px;
		}
	}
	@media (max-width: 1000px) {
		width: 660px;
		padding: 0 20px;
		margin-bottom: 50px;

		h2 {
			font-size: 50px;
			line-height: 51px;
			margin-bottom: 16px;
		}
		.header {
			font-size: 20px;
			line-height: 24px;
			margin-bottom: 47px;
		}
		.grid {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			column-gap: 50px;
			row-gap: 25px;
		}

		.card {
			h3 {
				font-size: 20px;
				line-height: 24px;
				margin-bottom: 9px;
			}
			.imageWrapper {
				height: 106px;
				width: 280px;
				margin-bottom: 9px;
			}
			.button {
				margin-bottom: 9px;
				border-radius: 10px;
				font-size: 15px;

				line-height: 18px;
				width: 280px;
				height: 52px;
			}
		}
	}
	@media (max-width: 660px) {
		width: 375px;
		padding: 0 0px;
		margin-bottom: 50px;

		h2 {
			font-size: 23px;
			line-height: 28px;
			margin-bottom: 16px;
		}
		.header {
			font-size: 15px;
			line-height: 18px;
			margin-bottom: 10px;
		}
		.grid {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			column-gap: 13px;
			row-gap: 15px;
		}

		.card {
			h3 {
				font-size: 12px;
				line-height: 12px;
				margin-bottom: 7px;
			}
			.imageWrapper {
				height: 70px;
				width: 181px;
				margin-bottom: 6px;
			}
			.button {
				margin-bottom: 0px;
				border-radius: 5px;
				font-size: 9px;

				line-height: 18px;
				width: 181px;
				height: 29px;
			}
		}
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.card {
	h3 {
		font-weight: 700;
		font-size: 20px;
		color: #353535;
		line-height: 24px;
		margin-bottom: 9px;
	}
	.imageWrapper {
		height: 106px;
		width: 280px;
		margin-bottom: 9px;

		overflow: hidden;
		justify-content: center;
	}
	.button {
		margin-bottom: 9px;
		border-radius: 10px;
		background-color: #353535;
		color: #fff;
		font-size: 15px;
		font-weight: 700;
		line-height: 18px;
		width: 280px;
		height: 52px;
		transition: all 0.3s ease;
		&:hover {
			opacity: 0.9;
		}
	}
}
