.container {
	width: 1240px;
}

.carouselContainer {
}
.item {
	display: flex;
	flex-direction: column;
	height: 400px;
	margin: 10px;
	border-radius: 10px;
	padding: 25px;
	color: #353535;
	font-weight: 500;
	background-color: #febd6d;
	cursor: pointer;
}
.itemTop {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	column-gap: 20px;
	margin-bottom: 30px;
}
.itemServiceImgContainer {
	width: 60px;
	height: 60px;
}
.itemServiceImg {
	width: 60px;
	height: 60px;
}

.itemText {
	text-align: left;
}
.itemName {
	text-align: left;
	font-weight: 700;
	font-size: 30px;
	line-height: 30px;
}
.itemServiceName {
	text-align: left;
	font-size: 15px;
}

.info {
	display: flex;
	flex-direction: column;

	justify-content: start;
}

@media (max-width: 660px) {
	.container {
		width: 375px;
	}

	.item {
		height: 250px;
		margin: 0;
		border-radius: 10px;
		padding: 15px;
	}
	.itemTop {
		column-gap: 10px;
		margin-bottom: 10px;
	}
	.itemServiceImgContainer {
		width: 40px;
		height: 40px;
	}
	.itemServiceImg {
		width: 40px;
		height: 40px;
	}

	.itemText {
		text-align: left;
		font-size: 12px;
	}
	.itemName {
		text-align: left;
		font-weight: 700;
		font-size: 20px;
		line-height: 25px;
	}
	.itemServiceName {
		font-size: 12px;
	}
}
