.container {
	width: 607px;
	height: 464px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;

	.dialogContainer1 {
		position: relative;

		p {
			position: absolute;
			top: 18px;
			left: 16px;

			font-weight: 400;
			font-size: 25px;
			color: #353535;
			line-height: 30px;

			span {
				font-weight: 700;
			}
		}
	}

	.dialogContainer2 {
		position: relative;

		p {
			position: absolute;
			top: 20px;
			left: 20px;

			font-weight: 400;
			font-size: 20px;
			color: #353535;
			line-height: 25px;

			span {
				font-weight: 700;
			}
		}
	}

	.dialog {
		display: block;
	}
}

.dialogContainer3 {
	position: relative;

	.lunaImage {
		position: absolute;
		right: -30px;
		bottom: 1px;
	}

	.link {
		position: absolute;
		top: 30px;
		left: 27px;

		color: #fff;
		height: 68px;
		width: 235;
		font-size: 20px;
		font-weight: 500;
		font-family: 'Montserrat';
		background-color: #585858;
		border: none;
		border-radius: 10px;
		cursor: pointer;
		padding: 22px 34px;
		box-shadow: 0px 2px 0px #000;
		transition: all 0.3s;

		&:hover {
			opacity: 0.9;
		}

		&:active {
			box-shadow: 0px 0px 0px #d4974b;
		}
	}
}

@media (max-width: 660px) {
	.container {
		width: 375px;
		height: 266px;

		.dialogContainer1 {
			.dialog1 {
				width: 239px;
				height: 74px;
			}
			p {
				top: 8px;
				left: 10px;
				font-size: 15px;
				line-height: 20px;
			}
		}
		.dialogContainer2 {
			.dialog2 {
				width: 187px;
				height: 52px;
			}
			p {
				top: 10px;
				left: 10px;
				font-size: 12px;
				line-height: 18px;
			}
		}
		.dialogContainer3 {
			.lunaImage {
				right: -10px;
				bottom: 1px;
				width: 220px;
				height: 237px;
			}

			.link {
				border-radius: 5px;
				top: 20px;
				left: 27px;

				height: 40px;
				width: 144px;
				font-size: 12px;
				white-space: nowrap;

				padding: 12px 0 0 24px;
			}
		}
	}
}
