.button {
	color: #353535;
	height: 52px;
	width: 262px;
	font-size: 20px;
	font-weight: 500;
	font-family: 'Montserrat';
	background-color: #febd6d;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 12px 22px;
	box-shadow: 0px 2px 0px #d4974b;
	transition: all 0.3s;
}
.button:hover {
	opacity: 0.8;
}

.button:active {
	box-shadow: 0px 0px 0px #d4974b;
	position: relative;
}
