.container {
	width: 1247px;
	margin-bottom: 50px;

	margin-top: 52px;
	position: relative;

	h1 {
		font-size: 60px;
		line-height: 73px;

		font-weight: 600;
		color: #353535;

		span {
			color: #febd6d;
		}
	}
}

.days {
	color: #febd6d;
	font-weight: 700;

	font-size: 100px;
	line-height: 122px;
	margin-bottom: 65px;
}

.subtext {
	color: #353535;
	font-weight: 400;

	font-size: 20px;
	margin-bottom: 15px;
}

.btnContainer {
	display: flex;
	flex-direction: row;
	column-gap: 25px;

	font-size: 20px;
	font-weight: 600;
	height: 60px;

	.btn1 {
		cursor: pointer;
		width: 346px;
		height: 56px;

		background-color: #febd6d;
		border-radius: 5px;

		transition: all 0.3s ease;

		&:hover {
			background-color: #353535;
			color: #febd6d;
			box-shadow: 0px 5px 0px #febd6d;
			height: 51px;
		}

		&:active {
			box-shadow: 0px 0px 0px #febd6d;
			transform: translateY(5px);
		}
	}

	.btn2 {
		cursor: pointer;
		width: 346px;
		height: 56px;
		font-size: 20px;

		border: 2px solid #febd6d;
		border-radius: 5px;
		transition: all 0.3s ease;

		&:hover {
			background-color: #353535;
			color: #febd6d;
			border: none;
			height: 51px;
			box-shadow: 0px 5px 0px #febd6d;
		}
		&:active {
			box-shadow: 0px 0px 0px #febd6d;
			transform: translateY(5px);
		}
	}
}

.banner {
	position: relative;
	position: absolute;
	width: 631px;
	bottom: 3px;
	right: 0px;
	width: 491px;
	height: 313px;
	background-color: #febd6d;
	border-radius: 10px;

	z-index: 9;
}
.imageWrapper {
	position: absolute;
	width: 631px;
	z-index: 10;
	left: -70px;
}
