.container {
	width: 1247px;
	margin-bottom: 100px;

	h2 {
		font-weight: 600;
		font-size: 50px;
		color: #353535;
		text-transform: uppercase;
		margin-bottom: 38px;
		line-height: 61px;
	}

	@media (max-width: 1420px) {
		width: 1000px;
		padding: 0 30px;
		margin-bottom: 100px;

		h2 {
			font-size: 50px;
			margin-bottom: 38px;
			line-height: 61px;
		}
		.manager {
			margin-bottom: 23px;
		}
		.managerImage {
			&::after {
				width: 127px;
				height: 4px;
				left: 40px;
				bottom: 0;
			}
		}

		.rightBlock {
			margin-left: -20px;
		}

		.speech1 {
			font-size: 20px;
			line-height: 20px;
		}

		.speech2 {
			font-size: 20px;
			line-height: 20px;

			width: 798px;
			height: 60px;
			padding: 10px 23px 0 99px;

			margin-left: -79px;
		}

		.speech3 {
			width: 339px;
			height: 52px;
			font-size: 15px;
			line-height: 18px;
			padding: 7px 20px;
		}

		.grid {
			grid-template-columns: repeat(4, 1fr);
			column-gap: 20px;
		}

		.card {
			gap: 10px;

			&:nth-child(even) {
				flex-direction: column-reverse;
			}
		}

		.label {
			font-size: 25px;
			line-height: 30px;
		}

		.subLabel {
			font-size: 20px;
			line-height: 24px;
		}

		.imageWrapper {
			width: 210px;
			height: 176px;
		}
	}
	@media (max-width: 1000px) {
		width: 660px;
		padding: 0 30px;
		margin-bottom: 50px;

		h2 {
			font-size: 40px;
			margin-bottom: 38px;
			line-height: 49px;
		}
		.manager {
			margin-bottom: 23px;
		}
		.managerImage {
			&::after {
				width: 127px;
				height: 4px;
				left: 40px;
				bottom: 0;
			}
		}

		.rightBlock {
			margin-left: -20px;
		}

		.speech1 {
			font-size: 15px;
			line-height: 15px;
		}

		.speech2 {
			font-size: 15px;
			line-height: 20px;

			width: 498px;
			height: 60px;
			padding: 10px 23px 0 99px;

			margin-left: -79px;
		}

		.speech3 {
			width: 339px;
			height: 52px;
			font-size: 15px;
			line-height: 18px;
			padding: 7px 20px;
		}

		.grid {
			grid-template-columns: repeat(2, 1fr);
			gap: 20px;
		}

		.card {
			gap: 10px;
		}

		.label {
			font-size: 25px;
			line-height: 30px;
		}

		.subLabel {
			font-size: 20px;
			line-height: 24px;
		}

		.imageWrapper {
			width: 290px;
			height: 176px;
		}
	}
	@media (max-width: 660px) {
		width: 375px;
		padding: 0 10px;
		margin-bottom: 50px;

		h2 {
			font-size: 25px;
			margin-bottom: 24px;
			line-height: 30px;
		}
		.manager {
			margin-bottom: 23px;
		}
		.managerImage {
			width: 122px;
			&::after {
				width: 81px;
				height: 4px;
				left: 20px;
				bottom: 0;
			}
		}

		.rightBlock {
			margin-left: -20px;
		}

		.speech1 {
			font-size: 10px;
			line-height: 15px;
		}

		.speech2 {
			font-size: 10px;
			line-height: 15px;

			width: 339px;
			height: 62px;
			padding: 10px 3px 0 139px;

			margin-left: -96px;
		}

		.speech3 {
			width: 200px;
			height: 32px;
			font-size: 10px;
			line-height: 10px;
			padding: 7px 15px;
			margin-left: 20px;
		}

		.grid {
			grid-template-columns: repeat(2, 1fr);
			gap: 20px;
		}

		.card {
			gap: 7px;
			&:nth-child(4) {
				.image {
					width: 79px;
					height: 94px;
				}
			}
		}

		.label {
			font-size: 15px;
			line-height: 15px;
			margin-bottom: 5px;
		}

		.subLabel {
			font-size: 10px;
			line-height: 10px;
		}

		.imageWrapper {
			width: 160px;
			height: 101px;
		}
	}
}

.manager {
	display: flex;
	flex-direction: row;
	margin-bottom: 23px;
}
.managerImage {
	position: relative;
	z-index: 2;
	&::after {
		content: '';
		width: 127px;
		height: 4px;
		border-radius: 2px;
		background-color: #febd6d;

		position: absolute;
		left: 40px;
		bottom: 0;
		z-index: 3;
	}
}

.rightBlock {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: -20px;
}

.speech1 {
	font-weight: 600;
	font-size: 25px;
	line-height: 30px;
	color: #353535;

	span {
		font-weight: 900;
		color: #febd6d;
	}
}

.speech2 {
	font-weight: 500;
	font-size: 25px;
	line-height: 30px;

	color: #353535;
	background-color: #e8e8e8;
	border-radius: 10px;
	width: 898px;
	height: 95px;
	padding: 17px 43px 0 99px;

	margin-left: -79px;
	z-index: 0;
}

.speech3 {
	width: 339px;
	height: 52px;
	background-color: #febd6d;

	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	text-decoration-line: underline;
	border-radius: 10px;
	padding: 7px 20px;

	color: #353535;
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.card {
	display: flex;
	flex-direction: column;
	gap: 10px;

	&:nth-child(even) {
		flex-direction: column-reverse;
	}
	&:nth-child(1) {
		.imageWrapper {
			padding-top: 20px;
		}
	}
}

.label {
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;

	color: #353535;
}

.subLabel {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;

	color: #353535;
}

.imageWrapper {
	background-color: #353535;
	width: 280px;
	height: 176px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: start;
	border-radius: 10px;
}
