.container {
	width: 1247px;
	margin-bottom: 50px;

	margin-top: 52px;
	position: relative;

	h2 {
		font-size: 60px;
		line-height: 73px;

		font-weight: 600;
		color: #353535;
		text-transform: uppercase;
	}
}

.subLabel {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;

	color: #353535;
	margin-bottom: 26px;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 21px 40px;
}

.card {
	width: 600px;
	height: 90px;

	background: #febd6d;
	border-radius: 10px;

	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 25px;
}
.cardIcon {
	margin-right: 20px;
}
.cardTitle {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	width: 200px;

	color: #353535;
}
.cardSubLabel {
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: #353535;
	width: 240px;

	margin: auto;
}
.consultation {
	width: 600px;
	height: 90px;

	background-color: #353535;
	border-radius: 10px;

	font-weight: 700;
	font-size: 20px;
	line-height: 24px;

	color: #ffffff;

	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease;

	&:hover {
		opacity: 0.8;
	}
}

.bottomContent {
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.speech {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;

	color: #353535;

	margin-left: 213px;
	padding-top: 54px;
	width: 541px;
}

.quotes {
	font-weight: 900;
	color: #febd6d;
}

.textWrapper {
	width: 600px;
	height: 115px;
	background-color: #febd6d;
	border-radius: 10px;
	display: flex;
	align-items: center;
	padding-left: 227px;
}

.text {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;

	color: #353535;
	width: 290px;
}
.textWord {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-decoration-line: underline;

	color: #353535;
}

.imgWrapper {
	position: absolute;
}
