.container {
	width: 1247px;
	margin-bottom: 100px;

	h2 {
		font-size: 50px;
		line-height: 61px;

		text-transform: uppercase;
		color: #353535;
		font-weight: 600;
	}
}

.subLabel {
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 46px;

	color: #353535;
	font-weight: 500;
}
.platforms {
	display: flex;
	flex-direction: row;

	margin-bottom: 40px;
}
.platform {
	display: flex;
	flex-direction: row;
	column-gap: 11px;
}
.platformInfo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.platformName {
	font-size: 20px;
	line-height: 24px;

	font-weight: 700;
	color: #353535;
}
.platformText {
	font-size: 20px;
	line-height: 24px;

	font-weight: 500;
	color: #353535;
}

.payment {
	display: flex;
	flex-direction: row;

	column-gap: 20px;
	margin-bottom: 29px;
	height: 70px;
}
.paymentRuble {
	font-size: 80px;
	line-height: 24px;

	color: #353535;
	font-weight: 700;
}
.paymentInfo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.paymentTop {
	font-size: 20px;
	line-height: 24px;

	color: #353535;
	font-weight: 700;
}
.paymentBot {
	font-size: 20px;
	line-height: 24px;

	color: #353535;
	font-weight: 500;
}
.banks {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 25px;
}
.bank {
	height: 128px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 4px solid #febd6d;
	border-bottom: 4px solid #febd6d;
}

.botInfo1 {
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 21px;

	font-weight: 500;
	color: #353535;
}
.botInfo2 {
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 14px;

	color: #353535;
	font-weight: 700;
}
.btn {
	font-size: 15px;
	line-height: 18px;
	padding: 10px 20px;

	font-weight: 600;
	color: #ffffff;
	background-color: #353535;
	border-radius: 10px;
	transition: all 0.3s ease;
	&:hover {
		opacity: 0.9;
	}
	&:active {
		opacity: 0.8;
	}
}
