// .header * {
// 	border: 1px solid red;
// }

.header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 7.5rem;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	width: 100%;

	@media (max-width: 1260px) {
		max-width: 1260px;
		.container {
			width: 100%;
			padding: 10px 20px;
			margin: 0 10px;
		}

		.contacts {
			padding-top: 20px;
		}

		.partner p {
			font-size: 9px;
		}
		.logo {
			margin-right: 15px;
		}
	}
	@media (max-width: 940px) {
		.container {
			padding: 10px;
		}
	}
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 1240px;
}

.logo {
	padding-top: 12px;
}

.info {
	display: flex;
	flex-direction: row;
}

.contacts {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 28px;

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;

		li {
			display: inline-flex;
			flex-direction: row;
			margin-right: 10px;

			p {
				font-size: 10px;
				margin-left: 5px;
			}
		}
	}

	.socials {
		display: flex;
		flex-direction: row;
		align-items: center;
		column-gap: 8px;
		padding-bottom: 5px;
		margin-right: 17px;
	}
}

.partner {
	display: flex;
	flex-direction: row;
	font-size: 10px;
	align-items: center;
	margin-right: 4px;
	padding-bottom: 5px;
	column-gap: 4px;
}

@media (max-width: 1600px) {
	.container {
		width: 95%;
		padding: 0 40px;
	}

	.contacts {
		padding-top: 20px;

		ul li p {
			font-size: 9px;
		}
	}

	.partner p {
		font-size: 9px;
	}
}
@media (max-width: 800px) {
	.container {
		width: 97%;
		padding: 0 40px;
	}

	.contacts {
		padding-top: 20px;

		ul li p {
			font-size: 9px;
		}
	}

	.partner p {
		font-size: 9px;
	}
}

.logoMobile {
	display: none;
}

.burger {
	display: none;
}
.headerRight {
	display: none;
}

//-------MOBILE------//-------MOBILE------//-------MOBILE------

@media (max-width: 660px) {
	.header {
		box-shadow: none;
		height: 30px;
		padding-top: 20px;
		width: 100%;
		.container {
			max-width: 375px;
			align-items: center;
			padding: 0;
		}
	}

	.logo {
		padding-top: 0px;
		height: fit-content;
		.logoLink {
			display: flex;
			align-items: center;
		}
	}
	.logoDesktop {
		display: none;
	}

	.logoMobile {
		display: block;
	}

	.mid {
		display: none !important;
	}

	.buttonContainer {
		display: none !important;
	}

	.headerRight {
		display: flex;
		flex-direction: row;
		column-gap: 20px;
		align-items: center;
	}
	.mobileSocials {
		display: flex;
		flex-direction: row;
		column-gap: 10px;
		align-items: center;
	}

	.burger {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.burgerButton {
		background: none;
		border: none;
		font-size: 1.8rem;
		cursor: pointer;
	}
}
