.container {
	width: 1247px;
	margin-bottom: 100px;

	h2 {
		font-weight: 600;
		font-size: 50px;
		color: #353535;
		text-transform: uppercase;
		margin-bottom: 10px;
		line-height: 61px;
	}
}
.subHeader {
	font-weight: 500;
	font-size: 25px;
	line-height: 30px;
	margin-bottom: 25px;

	color: #353535;
	margin-bottom: 271px;
}
.content {
	position: relative;
}

.img {
	position: absolute;
	top: -245px;
}
