.container {
	width: 1240px;
	height: 245px;
	background-color: #353535;
	margin-bottom: 100px;

	border-radius: 10px;

	padding: 39px 34px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.left {
		.label {
			font-weight: 600;
			font-size: 30px;
			line-height: 37px;

			color: #ffffff;
		}
		.subLabel {
			font-weight: 600;
			font-size: 30px;
			line-height: 37px;

			color: #febd6d;
			margin-bottom: 32px;
		}

		.info {
			font-weight: 600;
			font-size: 20px;
			line-height: 24px;
			padding-left: 11px;
			position: relative;

			&::after {
				content: '';
				height: 100%;
				width: 5px;
				position: absolute;
				background-color: #febd6d;
				border-radius: 4px;
				top: 0;
				left: 0;
			}
		}
		.info1 {
			color: #ffffff;
		}
		.info2 {
			color: #febd6d;
		}
	}

	@media (max-width: 1320px) {
		width: 610px;
		height: fit-content;
		flex-direction: column;
		row-gap: 16px;
		margin-bottom: 40px;
		.input {
			width: 100%;
		}
		.inputNum {
			width: 100%;
		}
	}
	@media (max-width: 660px) {
		width: 375px;
		padding: 19px 15px;
		.left {
			h5 {
				font-size: 20px;
				margin-bottom: 14px;
			}
			p {
				font-size: 10px;
				line-height: 15px;
				.br {
					display: none;
				}
			}
			button {
				height: 51px;
			}
		}
		.right {
			.form {
				margin-bottom: 0px;
				font-size: 20px;
			}
		}

		.input {
			padding: 18px 21px;
			height: 51px;
		}

		.inputNum {
			padding: 17px 21px 18px 70px;
			height: 51px;
		}

		.number {
			column-gap: 3px;
			left: 21px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

.textUs {
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	margin-bottom: 7px;

	color: #ffffff;
}

.form {
	display: flex;
	flex-direction: column;
	row-gap: 6px;
	margin-bottom: 14px;
	font-weight: 600;
	font-size: 20px;

	button {
		background-color: #febd6d;
		border-radius: 10px;
		text-align: center;
		height: 42px;
		transition: all 0.3s;
		&:hover {
			opacity: 0.7;
		}
	}
}

.input {
	border: none;
	border-radius: 10px;
	color: #353535;
	padding: 18px 21px;
	width: 355px;
	height: 42px;
	background-color: #fff;
}

.inputNum {
	border: none;
	border-radius: 10px;
	color: #353535;
	padding: 17px 21px 18px 70px;
	width: 355px;
	height: 42px;
	background-color: #fff;
}

.number {
	position: absolute;
	display: flex;
	flex-direction: row;
	column-gap: 3px;
	position: absolute;
	left: 21px;
	top: 50%;
	transform: translateY(-50%);
}
