.marquee {
	height: 61px;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #585858;
	overflow: hidden;
	position: relative;
	position: absolute;
	left: 0;
	right: 0;
}

.container {
	display: flex;
	flex-direction: row;
	animation: scroll 40s linear infinite;
}

.element {
	display: flex;
	flex-direction: row;
	align-items: center;

	margin: 0 15px;

	span {
		display: inline-block;
		font-size: 20px;
		font-weight: 500;
		color: #ffffff;
		width: 100%;
		white-space: nowrap;
	}

	.dot {
		margin: 0 15px;
	}

	@keyframes scroll {
		0% {
			transform: translateX(-30%);
		}
		100% {
			transform: translateX(0);
		}
	}
}
