.marquee {
	height: 61px;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #585858;
	overflow: hidden;
	position: relative;
	position: absolute;
	left: 0;
	right: 0;
}

.container {
	display: flex;
	flex-direction: row;
	column-gap: 49px;
	animation: scroll 20s linear infinite;
}

.element {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 10px;
	min-width: 510px;

	p {
		font-size: 20px;
		font-weight: 500;
		color: #ffffff;
	}

	@keyframes scroll {
		0% {
			transform: translateX(-30%);
		}
		100% {
			transform: translateX(0);
		}
	}
}
