.container {
	width: 1247px;
	margin-bottom: 100px;

	h2 {
		font-weight: 600;
		font-size: 60px;
		line-height: 73px;
		text-transform: uppercase;
		margin-bottom: 31px;

		color: #353535;
	}
	@media (max-width: 1420px) {
		width: 1000px;
		margin-bottom: 100px;
		padding: 0 30px;
		h2 {
			font-size: 50px;
			line-height: 63px;
			margin-bottom: 10px;
		}
		.subLabel {
			font-size: 20px;
			line-height: 24px;
			margin-bottom: 25px;
		}

		.status {
			font-size: 14px;
			margin-bottom: 10px;
		}

		.text {
			font-size: 12px;
			line-height: 1.5;
		}
	}
	@media (max-width: 1000px) {
		width: 660px;
		margin-bottom: 50px;
		padding: 0 30px;
		h2 {
			font-size: 33px;
			line-height: 43px;
			margin-bottom: 5px;
		}
		.subLabel {
			font-size: 15px;
			line-height: 20px;
		}
		.slide {
			min-width: 100%;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 20px;
		}
	}
	@media (max-width: 660px) {
		width: 375px;
		margin-bottom: 30px;
		padding: 0 10px;
		h2 {
			font-size: 25px;
			line-height: 30px;
			margin-bottom: 5px;
		}
		.subLabel {
			font-size: 12px;
			line-height: 15px;
			margin-bottom: 10px;
		}
		.slide {
			min-width: 100%;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 10px;
		}
		.reviewCard {
			border-radius: 10px;
			padding: 10px;
			text-align: left;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

			h3 {
				font-size: 20px;
				font-weight: 600;
			}
		}
		.status {
			font-size: 10px;
			margin-bottom: 10px;
		}

		.text {
			font-size: 9px;
			line-height: 1.5;
		}
	}
}

.subLabel {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 37px;

	color: #353535;
}

.slider {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.slides {
	display: flex;
	transition: transform 0.5s ease;
}

.slide {
	min-width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.reviewCard {
	background: #febd6d;
	border-radius: 10px;
	padding: 20px;
	text-align: left;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

	h3 {
		font-size: 30px;
		font-weight: 600;
	}
}

.status {
	color: #424242;
	font-size: 0.9rem;
	margin-bottom: 15px;
}

.text {
	font-style: italic;
	line-height: 1.5;
}

.dots {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	gap: 10px;
}

.dot {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #febd6d;
	border: none;
	cursor: pointer;
	padding: 0;
	transition: all 0.3s ease;
}

.activeDot {
	width: 30px;
	border-radius: 15px;
	background: #353535;
}
